{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<h1>{{ self.title() }}</h1>

<p class="disclaimer">This site uses cookies to keep you logged in.
By continuing, you agree that we can place cookies in your browser.
If you have cookies disabled, then you will not be able to log in.</p>

<p>Please choose an identity provider:</p>

<form id="login_form" name="login_form" action="" method="post">
<ul class="login">
{%- for provider in providers %}
  <li class="login">
    <button class="{{ provider|lower }} login" type="submit" name="provider:{{ provider|lower }}" value="{{ provider }}">
      Login with {{ provider }}
    </button>
  </li>
{%- endfor %}
</ul>
</form>
{% endblock content %}
