{% extends 'base.html' %}

{% block title %}Secret keys{% endblock title %}

{% block content %}
<h1>{{ self.title() }}</h1>

<p>This page contains several randomly generated keys.
Copy and paste the substrings you need.
This page is inert.
That is, there is nothing to track what you select.</p>

<h2>Alphanumeric keys</h2>

<pre>
{%- for s in alphanumerics %}
{{ s|safe }}
{% endfor %}
</pre>

<h2>ASCII printable keys</h2>

<pre>
{%- for s in printables %}
{{ s }}
{% endfor %}
</pre>
{% endblock content %}
